* {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar.navbar-light {
    background-color: lightgray;
    border-bottom: 3px solid black;
}

.navbar-brand.h1 {
font-weight: bold;
	font-size: 2em;
}